@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: #ffff;
}

body {
    min-height: 100vh;
    background-color: #ffffff;
  
}

h1 {
    margin-bottom: 5px;
}

#chartDiv {
    width:90%;
    height:350px; 
    margin:0 auto;
}

#navImg {
    display: inline-block;
    position:absolute;
    top:10px; 
    left:10px;
    width:40px;
    height:40px;
    overflow:hidden;
}

#navImg:hover {
    cursor: pointer;
}

#navName:hover {
    cursor: pointer;
}
#navName {
    display: inline-block;
    position:absolute;
    top:13px; 
    left:70px;
    overflow:hidden;
    font-size: 22px;
}

nav{
    background-color: #233647;
    text-align: right;
    padding: 0;
    margin: 0;
    height: 60px;
}
nav li {
    display: inline-block;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
  
}
nav li a{
    color: white;
    text-decoration: none;
    font-family: arial;
    padding: 10px;
    
}
nav li a:hover{
    text-decoration: underline;
    
}

section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background-color: rgba(35, 54, 71, 0.6);
    margin: auto;
    margin-top: 5%;
    border-radius: .8rem;
    
}

.gs {
    width: 100%;
    max-width: 600px;
    min-height: 400px;
    padding: 1rem;
    background-color: rgba(35, 54, 71, 0.6);
    margin: auto;
    margin-top: 5%;
    border-radius: .8rem;
}

.sct {
    width: 100%;
    max-width: 650px;
    min-height: 400px;
    padding: 1rem;
    background-color: rgba(35, 54, 71, 0.6);
    margin: auto;
    margin-top: 5%;
    border-radius: .8rem;
}

#prompt1 {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 195px;
    font-size: 25px;
    letter-spacing: 5px;
}

#userInput1 {
    border-radius: 20px;
    letter-spacing: 2px;
    text-align: center;
}
#sctm {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 10px;
}

.sctForm {
    display: flex;;
}

.scores {
    margin-top:5px;
    margin: auto;
}
#userInput {
    border-radius: 20px;
    letter-spacing: 2px;
    text-align: center;
}
#accountH1 {
   margin-bottom: 50px;
}

#logoutB {
    margin-top: 200px;
    margin-bottom: 5px;
}


#deleteAccount {
    color: red;
}

.shadow {
    margin-top:225px;
}
.gb {
    margin: 5px;
    width: 100px;
    display:inline-block;
    background-color: #fff;
    color: black;
    border-radius: 5px;
}

#startButtonSC {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}


#testNameLabel {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px;
    color: aquamarine;
}

#userInput {
    border-radius: .8rem;
    margin-bottom: 4px;
}

#graph1 {
    margin-bottom: 12px;
}

.show {
    color: rgb(235, 160, 160);
}
.graphdiv {
    border-style: solid;
    border-color: rgba(75,192,192,1);
    border-width: 1px;
    padding: 10px;
    margin: 10px;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a, a:visited {
    color: #fff;
}

#prompt {
    font-size: 25px;
    letter-spacing: 10px;
    margin: auto;
}

#userInput {
    font-size: 15px;
}


#score {
    color: aquamarine;
}

.secondary {
    color: aquamarine;
    margin-bottom: 40px;
}

.tsb {
    margin: 8px;
    padding: 8px;
    border-radius: 5px;
}
.scores {
    font-size: 15px;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  padding: 0.25rem;
  border-radius: .8rem;
}

label,
button {
  margin-top: .25rem;
}

button {
    background-color: #fff;
    border: none;
}

button:hover {
    cursor: pointer;
    border: #000;
    background-color: #233647;
    color: #fff;
}

#button:disabled {
    background-color: #ffffff;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

    


#home {
    background: url('https://images.unsplash.com/photo-1554632582-ac43a70ce6e8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1937&q=80') no-repeat center center/ cover;
}

#nameLabelEl {
    color: rgb(54, 54, 54);
    font-size: 60px;
    margin-top: 125px;
    margin-left: 120px;
    font-weight: 400;

}

#roleLabelEl {
    color: rgb(36, 36, 36);
    font-size: 30px;
    font-weight: 300;
    margin-top: 15px;
    margin-left: 200px;
    
}
.projects {
    background-color: #fff;
}

#projectLabelEL {
    color: rgb(54, 54, 54);
    font-size: 35px;
    font-weight: 300;
}

.projectContainer {
    display: flex;
    flex-direction: row;
    /* margin: 20px;
    margin-top: 6%; */
    justify-content: center;
}

.card {
    transition: 0.3s;
    width: 100%;
    margin: 25px;
    color: rgb(36, 36, 36);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  }

.card img {
    border-radius: 0px 0px 0 0;
    height: 180px;
  }

.projectInfoContainer {
    padding: 4px 10px;
}

.p {
    font-size: 11px;
    padding-top: 8px;
} 

.card a {
    font-size: 12px;
    color: rgb(34, 34, 34);
}

.imgC {
    width: 300px;
}