@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: #ffff;
}

body {
    min-height: 100vh;
    background-color: #ffffff;
  
}

.App {

}


#navImg {
    display: inline-block;
    position:absolute;
    top:10px; 
    left:10px;
    width:40px;
    height:40px;
    overflow:hidden;
}

#navImg:hover {
    cursor: pointer;
}

#navName:hover {
    cursor: pointer;
}
#navName {
    display: inline-block;
    position:absolute;
    top:13px; 
    left:70px;
    overflow:hidden;
    font-size: 22px;
}

nav{
    background-color: #233647;
    text-align: right;
    padding: 0;
    margin: 0;
    height: 60px;
}
nav li {
    display: inline-block;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
  
}
nav li a{
    color: white;
    text-decoration: none;
    font-family: arial;
    padding: 10px;
    
}
nav li a:hover{
    text-decoration: underline;
    
}

section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background-color: rgba(35, 54, 71, 0.6);
    margin: auto;
    margin-top: 5%;
    border-radius: .8rem;
    
}

.gs {
    width: 100%;
    max-width: 600px;
    min-height: 400px;
    padding: 1rem;
    background-color: rgba(35, 54, 71, 0.6);
    margin: auto;
    margin-top: 5%;
    border-radius: .8rem;
}

.sct {
    width: 100%;
    max-width: 650px;
    min-height: 400px;
    padding: 1rem;
    background-color: rgba(35, 54, 71, 0.6);
    margin: auto;
    margin-top: 5%;
    border-radius: .8rem;
}

#prompt1 {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 195px;
    font-size: 25px;
    letter-spacing: 5px;
}

#userInput1 {
    border-radius: 20px;
    letter-spacing: 2px;
    text-align: center;
}
#sctm {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 10px;
}

.sctForm {
    display: flex;;
}

.scores {
    margin-top:5px;
    margin: auto;
}
#userInput {
    border-radius: 20px;
    letter-spacing: 2px;
    text-align: center;
}
#accountH1 {
   margin-bottom: 50px;
}

#logoutB {
    margin-top: 200px;
    margin-bottom: 5px;
}


#deleteAccount {
    color: red;
}
.gb {
    margin: 5px;
    width: 100px;
    display:inline-block;
    background-color: #fff;
    color: black;
    border-radius: 5px;
}

#startButtonSC {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}


#testNameLabel {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    color: aquamarine;
}

#userInput {
    border-radius: .8rem;
    margin-bottom: 4px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a, a:visited {
    color: #fff;
}

#prompt {
    font-size: 25px;
    letter-spacing: 10px;
    margin: auto;
}

#userInput {
    font-size: 15px;
}


#score {
    color: aquamarine;
}

.secondary {
    color: aquamarine;
    margin-bottom: 40px;
}

.tsb {
    margin: 8px;
    padding: 8px;
    border-radius: 5px;
}
.scores {
    font-size: 15px;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  padding: 0.25rem;
  border-radius: .8rem;
}

label,
button {
  margin-top: .25rem;
}

button {
    background-color: #ffffff;
    border: none;
}

button:hover {
    cursor: pointer;
    border: #000;
    background-color: #233647;
    color: #fff;
}

#button:disabled {
    background-color: #ffffff;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}